<h1>Shops Index Page</h1>

<ul>
  <% @shops.each do |shop| %>
  <li><%= shop.name %> <%= link_to "Update #{shop.name}", "/shops/#{shop.id}/edit" %></li>
    <%= "Created at: #{shop.created_at}" %>
  <% end %>
</ul>

<%= link_to "New Shop", "/shops/new" %>